* {
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #0366D6;
}
body {
  background: linear-gradient(to left,#d5f1c6,#aaec87);
}
.sgu{
  margin: 50px auto 0;
  width: 320px;
  padding: 20px 20px 10px 20px;
  text-align: center;
}
.title{ 
  color: #000000;
  text-shadow: 2px 2px #daeeea;
}
form label{
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

label > a{
  float:right;
  font-size: 15px;
}

p {
  display: inline;
}

dd{
    margin-left:0;
}
input {
  width: 240px;
  display: block;
  padding: 10px 5px;
  margin-bottom: 5px;
  border: solid 1px #969292;
  border-radius: 5px;
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 95%, rgba(255, 255, 255, 0) 5%); */
}

input:focus{
  /* box-shadow: none; */
  outline: none;
  box-shadow: 0 0 3pt 2pt #70bfe4;
}

.form-login{
  background: #f5f5f5;
  width: 260px;
  margin: 0 auto 0;
  padding: 10px 10px 20px 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form-login button {
  margin-top: 5px;
  height: 40px;
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 240px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.form-login button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.form-login button:focus, button:valid{
  box-shadow: none;
  outline: none;
}
.to-sign-up{
  text-align: center;
  display: block;
  background: #f5f5f5;
  width: 260px;
  margin: 15px auto 0;
  padding: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.btn-sign-up{
  cursor: pointer;
  display: inline;
  background: none;
  border: none;
  color:#0366D6;
}