
# HTID:16074742: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:16074742:
ErrorDocument 404 https://oganibyblackp.000webhostapp.com/404.html
